.btn-checked, .btn-delete{
    padding: 0;
    margin: 0;
    height: 30px;
    float: right;
    background: none;
    color: green;
    border: none;
    .MuiSvgIcon-root{
@include font-size(27px);
    }
}
.btn-delete{
    color: rgb(235, 92, 92);
}
.todo-list{
    border: 1px solid #666;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}
.disable{
    color: #ccc;
}