@font-face {
    font-family: fatFont;
    src: url('../../fonts/YekanBakh/Yekan\ Bakh\ FA\ 08\ Fat.ttf');
}

@font-face {
    font-family: mediumFont;
    src: url('../../fonts/YekanBakh/Yekan\ Bakh\ FA\ 05\ Medium.ttf');
}

@font-face {
    font-family: lightFont;
    src: url('../../fonts/YekanBakh/Yekan\ Bakh\ FA\ 03\ Light.ttf');
}